* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI";
}

body {
  background-color: #82bdd0;
  margin: 7px;
}

header {
  position: fixed;
  color: aliceblue;
  padding: 2.5rem;
  background-color: #82bdd0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
nav {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  text-transform: uppercase;
  align-items: center;
}
a {
  background-color: #f8b805;
  color: black;
  padding: 10px;
  margin: auto;
  width: 170px;
  border-radius: 15px;
}
a:hover {
  background-color: #29c057;
  color: #f8b805;
}

.project-container {
  position: relative;
  color: #f8b805;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 1rem;
}
h2 {
  position: relative;
  top: 25px;
  left: 50px;
  bottom: 50px;
  font-weight: 100;
  font-size: 1.2rem;
  bottom: 20px;
  left: 50px;
  color: black;
}
h2 {
  position: relative;
  top: 25px;
  left: 50px;
  bottom: 50px;
  font-weight: 100;
  font-size: 1.2rem;
  bottom: 20px;
  left: 50px;
  color: black;
}
.header-btn:hover {
  background-color: #29c057;
  color: #f8b805;
}
img {
  position: relative;
  width: 1032px;
  height: 631px;
}
.threads-container {
  position: relative;
  color: #f8b805;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 1rem;
}
h3 {
  position: relative;
  top: 25px;
  left: 50px;
  bottom: 50px;
  font-weight: 100;
  font-size: 1.2rem;
  bottom: 20px;
  left: 50px;
  color: black;
}
h3 {
  position: relative;
  top: 25px;
  left: 50px;
  bottom: 50px;
  font-weight: 100;
  font-size: 1.2rem;
  bottom: 20px;
  left: 50px;
  color: black;
}
.blog-btn {
  position: absolute;
  top: 50px;
  left: 50px;
  bottom: 25px;
  padding: 5px;
  margin: 10px;
  width: 125px;
  height: 90px;
  border-radius: 50px;
  font-size: 20px;
}
.blog-btn:hover {
  background-color: #29c057;
  color: #f8b805;
}
.shop-container {
  position: relative;
  color: #f8b805;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 1rem;
}
h4 {
  position: relative;
  top: 25px;
  left: 50px;
  bottom: 50px;
  font-weight: 100;
  font-size: 1.2rem;
  bottom: 20px;
  left: 50px;
  color: black;
}
h4 {
  position: relative;
  top: 25px;
  left: 50px;
  bottom: 50px;
  font-weight: 100;
  font-size: 1.2rem;
  bottom: 20px;
  left: 50px;
  color: black;
}
.shop-btn {
  padding: 5px;
  margin: 10px;
  width: 125px;
  height: 90px;
  border-radius: 50px;
  font-size: 20px;
}
.shop-btn:hover {
  background-color: #29c057;
  color: #f8b805;
}

h5 {
  margin: 20px;
  text-align: center;
  font-size: 25px;
  color: white;
}
